@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*Scroll to top*/
.scroll {
    opacity: .3;
    background-color: #000;
    width: 40px;
    height: 40px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    border-radius: 5px;
    border: none;
}
.scroll:hover{
    opacity: 1;
}
button.scroll i {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -5px;
    cursor: pointer;
}
.banner {
    position: relative;
    min-height: 100vh;
    background: url('images/beach.jpg');
    background-size: cover;
    background-position: right;
    display: flex;
    justify-self: center;
    align-items: center;
}
section {
    padding: 100px;
}
.banner h2 {
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}
.banner h2 span {
    font-weight: 700;
    font-size: 1.5em;
}
.banner h3 {
    font-size: 1.5em;
    font-weight: 500;
    color: #fff;
}
.btn {
    position: relative;
    background: #2196f3;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}
.banner .btn:hover, .formBx input[type="submit"]:hover, .work .heading .btn:hover{
    background: #fff;
    color: #2196f3;
    letter-spacing: 5px;
    transition: .35s ease-in-out;
    font-weight: bold;
}
.work .heading .btn:hover {
    border: 1px solid #2196f3;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
}
header.sticky {
    background: #000;
    padding: 40px 100px;
    color: #000;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
}
header.sticky .logo {
    color: #fff;
}
header .logo {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}
header ul {
    position: relative;
    display: flex;

}
header ul li {
    position: relative;
    list-style: none;
}
header ul li a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 0 15px;
}

.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}
.heading h2 {
    font-weight: 600;
    font-size: 30px;
}
.content {
    display: flex;
    justify-content: space-between;
}

.content .w50 img:hover{
    transform: rotate(15deg) scale(.8);
    transition: .3s ease-in-out;
    cursor: pointer;
}
.contentBx {
    padding-right: 30px;
}
.contentBx h3 {
    font-size: 24px;
    margin-bottom: 10px;
}
.w50 {
    min-width: 50%;
}
img {
    max-width: 100%;
}

.services {
    background: #111;
}
.services .heading.white {
    color: #fff;
}
.services .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.services .content .servicesBx {
    padding: 40px 20px;
    background: #222;
    color: #fff;
    max-width: 340px;
    margin: 20px;
    text-align: center;
    transition: .5s;
}
.services .content .servicesBx:hover {
    background: #2196f3;
    cursor: pointer;
    transform: scale(.8);
    transition: .3s ease-in-out;
}
.services .content .servicesBx img {
    max-width: 80px;
    filter: invert(1);
    position: relative;
}
section.banner::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    transform: skewX(-25deg);
}
section.banner:hover::before {
    animation: shine 2.5s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

/* 
.services .content .servicesBx img:hover {
    transform: scale(.8);
    transition: .3s ease-in-out;
} */

.services .content .servicesBx h2 {
    font-size: 20px;
    font-weight: 600;
}

.work .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.work .content .workBx  {
    width: 50%;
    padding: 20px;
}
.work .content .workBx img {
    max-width: 100%;
    margin-left: 30px;
    filter: grayscale(100%);
    transform: scale(.8);
    transition: .3s ease-in-out;
}

.work .content .workBx img:hover{
    margin-left: 0;
    filter: grayscale(0);
}
.testimonials {
    background: #f7f7f7;
}
.testimonials .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.testimonials .content .testimonialBx {
    max-width: calc(50% - 40px);
    padding: 60px 40px;
    margin: 20px;
    background: #2196f3;
    position: relative;
    transition: .3s ease-in-out;
}


.testimonials .content .testimonialBx::before{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    content: '';
    display: block;
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, .2);
    border-radius: 100%;
    transform: translate(-50%, -50%);
    opacity: 0;
}
.testimonials .content .testimonialBx:hover::before{
    cursor: pointer;
    animation: circle .75s;
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 150%;
		height: 150%;
		opacity: 0;
	}
}
.testimonials .content .testimonialBx p {
    color: #fff;
    font-style: italic;
    font-size: 16px;
    font-weight: 400;

}
.testimonials .content .testimonialBx h3 {
    margin-top: 40px;
    text-align: end;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 1em;
}
.testimonials .content .testimonialBx h3 span {
    font-weight: 400;
    font-size: 14px;
}

.contact {
    background: #111;
}
.contact .heading.white {
    color: #fff;
}
.formBx {
    min-width: 60%;
}
.formBx form {
    display: flex;
    flex-direction: column;
}
.formBx form h3, .contactInfo h3 {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.formBx form input, .formBx form textarea {
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    background: transparent;
    border: none;
    outline: none;
    background: #222;
    color: #fff;
    resize: none;
}
.formBx form input::placeholder, .formBx form textarea::placeholder  {
    color: #999;
}
.formBx form input[type="submit"] {
    max-width: 100px;
    background: #2196f3;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.contactInfo {
    min-width: 40%;
}
/* .contactInfoBx {
    position: relative;
} */
.contactInfoBx .box {
    /* position: relative; */
    padding: 20px;
    display: flex !important;
    flex-direction: row;
}
.contactInfoBox .box .icon {
    min-width: 40px;
    padding-top: 10px;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 24px;
}
.contactInfoBox .box .text {
    display: flex;
    margin-left: 40px;
    margin-top: -30px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.contactInfoBox .box .text h3 {
    font-weight: 500;
    color: #2196f3;
}
.copyright {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/*Responsive*/
@media (max-width: 991px) {
    header, header .sticky {
        padding: 20px 50px;
        z-index: 1;
    }
    .menu {
        position: fixed;
        top: 75px;
        left: 0%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #fff;
        transition: .5s;
        z-index: 999;
        color: #000 !important;
        border-top: 1px solid rgba(0, 0, 0, .2);
    }
    ul li a{
        color: #000 !important;
    }
    .toggle {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        background: url('images/close.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }
    .toggle.active {
        background: url('images/menu.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
    }
    header.sticky .toggle{
        filter: invert(1);
    }
    .menu.active {
        left: -100%;
    }
    section {
        padding: 100px 50px;
    }
    .banner {
        padding: 150px 50px 100px;
    }
    .banner h2 {
        font-size: 1.5em;
    }
    .banner h3 {
        font-size: 1em;
    }
    .btn {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;
    }
    .heading h2 {
        font-size: 24px;
    }
    .contentBx h3 {
        font-size: 1em;
    }
    .content {
        flex-direction: row;
    }
    .w50 {
        margin-bottom: 20px;
    }
    .services .content .servicesBx {
        margin: 10px;
    }
    .work .content .workBx {
        width: 100%;
        padding: 10px;
    }
    .testimonials .content .testimonialBx {
        max-width: calc(100% -20px);
        padding: 40px 20px;
        margin: 10px;
        background: #2196f3;
    }
    .testimonials .content .testimonialBx h3 {
        margin-top: 20px;
    }
    .contactInfo {
        margin: 20px 0;
    }

}
@media (max-width: 600px) {
    header, header .sticky {
        padding: 20px 20px;
        z-index: 1;
    }
    .banner {
        padding: 150px 20px 100px;
    }
    .section {
        padding: 100px 20px;
    }
    .content {
        flex-direction: column;
        width: 100%;
    }
    .testimonials .content {
        display: flex;
        padding: 40px 10px;
        width: 100%;
        /* width: 100%; */
        margin: 10px;
        background: #2196f3;
    }
    .testimonials .content .testimonialBx{
        margin-top: 10px;
        padding: 20px;
    }
    .testimonials .content .testimonialBx h3 {
        margin-top: 20px;
    }
    .testimonials .content .testimonialBx p {
        justify-content: space-between;
    }
}

/*Demo Timeline*/
